/* reset default styles */

html, body, main {
	margin: 0;
	padding: 0;
	height: 100%;
}

menu, p { 
	margin: 0;
	padding: 0;
	display: block;
}

ul {margin: 0;}

body {
	display: flex;
	justify-content: center;
}

/* color pallette */

html {
	--color-accent:    #55ffb5;
	--color-button:    #c44f4b;

	--color-loader:    #000000;
	--color-menu:      #0a1833;
	--color-priority:  #a7bfcbba;
	--color-secondary: #c2cbeb;
}

html:has(.card-advanced-control-theme-state:checked) {
	--color-accent:    #ef4141;
	--color-button:    #096c5f;

	--color-loader:	   #000000;
	--color-menu:      #0a1833;
	--color-priority:  #8e99b7ba;
	--color-secondary: #ffffff;
}

/* fonts */

html {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* loader */
/* h2 {display: none;} */
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
}

.loader::before {
	content: "";
	height: 50px;
	width: 50px;

	border: 5px solid var(--color-loader);
	border-top-color: transparent;
	border-radius: 50%;

	animation: loader 1s linear infinite;
}

.loaded + .loader {
	opacity: 0;
	pointer-events: none;
}

@keyframes loader {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

/* main */

body {background-image: url(../../assets/bg.jpg);}

.viewport {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 90dvh;
	width: min-content;

	background-color: var(--color-priority);
	border-radius: 30px;
}

.viewport.loaded {
	display: flex;
	will-change: contents;
	width: 270px;
	min-width: 270px;
}

.viewport:has(.card-tabs-details:checked) .details,
.viewport:has(.card-tabs-projects:checked) .projects 
{
	display: flow;
}

.tab {
	display: none;
	float: right;
	overflow: hidden;

	scrollbar-color: hsl(0 0% 50%);
	scrollbar-width: thin;
	scroll-padding-top: 25px;
	z-index: 1;

	height: calc(90vh - 50px);

	background-color: var(--bg-color);
	border-radius: 30px;
}

/* card */

.card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 15px;
	height: 90dvh;
	width: 270px;
	min-width: 270px;

	background-color: var(--color-menu);
	border-radius: 30px;
	box-shadow: 2px 2px 4px var(--color-menu);
	color: var(--color-accent)
}

.card-advanced-control {
	width: 100%;
	text-align: right;
}

.card-advanced-control-form-factor {
	appearance: none;
	margin: 0;
	text-align: center;

	cursor: pointer;
}

.card-advanced-control-form-factor::after{
    font-size: small;
	color: var(--color-accent);
}

.card-advanced-control-form-factor:not(:checked)::after {
	text-decoration: underline; 
}

.card-advanced-control-theme-state-label {
	font-size: small;
}

.card-advanced-control-theme-state {
	
	margin: 0;
	cursor: pointer;

	text-align: right;
	vertical-align: middle;
}

.card-advanced-control-theme-state::before {
	display: block;
	padding: 0px 20px;
	width: max-content;
	color: var(--color-accent);
}

.card-avatar {
	position: relative;

	margin: 1em auto;
	height: 13em;
	width: 13em;

	border-radius: 1em/.5em;
	cursor: pointer;
}

.card-avatar svg {
	fill:var(--color-accent);
	height: 100%;
	width: 100%;
}

.card-bio p {
	text-align: center;
}

.card-certificates {
	width: 100%;
}

.card-certificates a {
	color: var(--color-accent);
	display: block;
}

.card-contacts-nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.card-contacts-link {
	/* display: flex; */
	width: 40px;
	aspect-ratio: 1/1;

	color: var(--bg-color-accent);
	font-size: 40px;
	text-align: center;
	text-decoration: none;
}

.card-tabs {
	align-self: flex-end;
	text-align: right;
	width: 100%;
}

.card-contacts h2 {
    margin: 5px 0px;
    text-align: left;
}

/* details */

.details h2 {
	appearance: none;
	text-decoration-line: underline;
	margin: 12px 0px 9px;
	height: 42px;
}

.cover-letter {
    box-sizing: border-box;
	float: right;
	padding: 0px 30px 0px 20px;
	width: 1090px;
}

.personal, .professional {
	box-sizing: border-box;
	padding-left: 20px;
	float: right;
	width: 1090px;
}

.skills {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0px;
	list-style: none;
}

.skills-entry {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.skills-entry-button {
	display: flex;
	align-items: center;
	gap: 5px;

	padding: 6px 8px;
	width: max-content;
	
	background-color: #f5f5f5;
	border-width: 0px;
	border-radius: 25px;
}

/* projects */

.projects {
	overflow-y: scroll;
}

.project {

	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	float: right;
	gap: 25px;

	margin: 0px 30px 0px 20px;
	padding: 16px 0px;

	width: calc(90dvw - 340px);
	width: 1020px;

	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.project-summary {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-caption > * {margin: 0;}

.project-view {
	aspect-ratio: 4/3;
	height: 270px;
	background-color: blue;
}

.project-menu {
	display: flex;
	flex-direction: row;
	gap: 8px;

	padding: 0px;
	margin: 0px;
}

.project-menu-button {
	box-sizing: border-box;
	padding: 0.7em 1.2em;
	min-width: 120px;

	background-color: var(--color-button);
	border: 1px solid var(--color-button);
	cursor: pointer;
	color: #fff;
	font-weight: 400;
}

/* ====================== */