/* viewport.loaded desktop animation */

.viewport { 
	transform: translateY(-100%);
}

.viewport.loaded {
	transform: translateY(5dvh);
	animation: bounce 1s ease-in;
}

@keyframes bounce {
	0% {transform: translateY(-100%);}
	60%, 80%{transform: translateY(5dvh);}
	68% {transform: translateY(1dvh);}
	88% {transform: translateY(3dvh);}
	100% {transform: translateY(5dvh);}
}

/* tab changed */

.viewport {
	transition: 1s width;    
}

.viewport:has([name="card-tabs"]:checked)
{
	width: 1360px;
}

.tab {
	width: calc(1360px - 270px);
}

@media only screen and (width < 1360px) {
	.tab {
		overflow-y: visible;
	}
}