@media print {
    body {}

    .viewport.loaded {width: 100dvw;}
    .viewport:has([name="card-tabs"]:checked) {
        width: 100dvw;
    }
    .card {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-width: 0;
    }
    .card-advanced-control, 
    .card-about-navigation
    {
        display: none;
    }
    .cover-letter {
        width: calc(100vw - 270px);
    }
    .personal, .professional {
        min-width: calc(100dvw - 290px);
    }
    .card {
        height: 99dvh;
    }

    .details
    {
        float: right;
    }

    .tab {
        height: 96dvh;
        /* width: 100vw; */
    }

    .skills-entry-button {
        padding: 6px 0px;
    }
    
    .card-contacts-nav {
        display: flex;
        flex-direction: column;
    }

    .card-contacts-link {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .card-contacts-link::after {
        display: inline-block;
        content: attr(href);
        font-size: small;
    }

    .tab {
        width: auto;
    }

    .personal, .professional {
        width: 100%;
    }
}