/* setup content */

.card-advanced-control-form-factor[value="desktop"]::after{content: "desktop";}
.card-advanced-control-form-factor[value="tablet"]::after {content: "tablet";}
.card-advanced-control-form-factor[value="mobile"]::after {content: "mobile";}
.card-advanced-control-theme-state-label::before {content: "toggle theme";}

.card-bio-p0::after         {content: "Hello,";}
.card-bio-p1::after         {content: "my name is Iacovlev Alexandr.";}
.card-bio-p2::after         {content: "I am an web developer and UI/UX javascript specialist.";}

.card-about-navigation > h2::after {content: "Navigation";}

.card-contacts-time::after  {content: "available on 9:00-17:00 (UTC+3)";} 

.cover-letter > h2::after {content: "Cover Letter";}
.personal > h2::after {content: "Personal Skills";}
.professional > h2::after {content: "Proffessional Skills";}

.card-certificates h2::after {content: "Certificates";}
.card-contacts h2::after {content: "Contacts"}
/* ====================== */