/* setup content */

.card-advanced-control-form-factor[value="desktop"]::after{content: "desktop";}
.card-advanced-control-form-factor[value="tablet"]::after {content: "tablet";}
.card-advanced-control-form-factor[value="mobile"]::after {content: "mobile";}
.card-advanced-control-theme-state-label::before {content: "toggle theme";}

.card-bio-p0::after         {content: "Hello, my name is Iacovlev Alexandr.";}
.card-bio-p1::after         {content: "I am an web developer and UI/UX javascript specialist.";}
.card-contacts-time::after  {content: "available from UTC−8 to UTC+1";} 

.cover-letter > h2::after {content: "Cover Letter";}
.personal > h2::after {content: "Personal Skills";}
.professional > h2::after {content: "Proffessional Skills";}

/* ====================== */