
/* setup content */

html:lang(ru) .card-advanced-control-form-factor[value="desktop"]::after    {content: "desktop";}
html:lang(ru) .card-advanced-control-form-factor[value="tablet"]::after     {content: "tablet";}
html:lang(ru) .card-advanced-control-form-factor[value="mobile"]::after     {content: "mobile";}
html:lang(ru) .card-advanced-control-theme-state-label:lang(ru)::before     {content: "red mode";}

html:lang(ru) .card-bio-p0::after           {content: "Приветствую!";}
html:lang(ru) .card-bio-p1::after           {content: "Меня зовут Александр Яковлев.";}
html:lang(ru) .card-bio-p2::after           {content: "Я являюсь веб-разработчиком и специалистом в области UI/UX.";}
html:lang(ru) .card-about-navigation > h3::after {content: "Навигация";}

html:lang(ru) [for="pg-0"]::after {content: "Навыки";}
html:lang(ru) [for="pg-1"]::after {content: "Проекты";}

html:lang(ru) .card-certificates h3::after  {content: "Образование";}
html:lang(ru) .card-contacts h3::after      {content: "Контакты"}

html:lang(ru) .card-contacts-time::after    {content: "доступен 9:00-17:00 (UTC+3)";} 

html:lang(ru) .details h2::after     		{content: "Вступительное слово";}
html:lang(ru) .personal > h3::after         {content: "Личные качества";}
html:lang(ru) .professional > h3::after     {content: "Профессиональные навыки";}

html:lang(ru) #skill-identity-0 span::after {content: "Аналитический ум";}
html:lang(ru) #skill-identity-1 span::after {content: "Быстро учусь";}
html:lang(ru) #skill-identity-2 span::after {content: "Внимателен";}
html:lang(ru) #skill-identity-3 span::after {content: "Исполнителен";}
html:lang(ru) #skill-identity-4 span::after {content: "Проактивен";}
html:lang(ru) #skill-identity-5 span::after {content: "Самостоятелен";}
html:lang(ru) #skill-identity-6 span::after {content: "Стремление к развитию";}

html:lang(ru) .cover-letter > p:nth-of-type(1):after{content: "Веб-разработчик с многолетним опытом создания современных и интуитивно понятных пользовательских интерфейсов. "}
html:lang(ru) .cover-letter > p:nth-of-type(2):after{content: "Моя цель — создавать высококачественные веб-приложения, которые решают реальные задачи пользователей, обеспечивая при этом оптимальную производительность и удобство использования. Ищу возможности для дальнейшего профессионального развития в команде единомышленников, стремящихся к совершенству в разработке. "}
/* ====================== */