
/* setup content */

html:lang(ru) .card-advanced-control-form-factor[value="desktop"]::after    {content: "desktop";}
html:lang(ru) .card-advanced-control-form-factor[value="tablet"]::after     {content: "tablet";}
html:lang(ru) .card-advanced-control-form-factor[value="mobile"]::after     {content: "mobile";}
html:lang(ru) .card-advanced-control-theme-state-label:lang(ru)::before     {content: "toggle theme";}

html:lang(ru) .card-bio-p0::after           {content: "Добро пожаловать,";}
html:lang(ru) .card-bio-p1::after           {content: "меня зовут Яковлев Александр.";}
html:lang(ru) .card-bio-p2::after           {content: "Я веб-разработчик и специалист UI/UX.";}

html:lang(ru) .card-about-navigation > h2::after {content: "Навигация";}

html:lang(ru) [for="pg-0"]::after {content: "Навыки";}
html:lang(ru) [for="pg-1"]::after {content: "Проекты";}

html:lang(ru) .card-certificates h2::after  {content: "Образование";}
html:lang(ru) .card-contacts h2::after      {content: "Контакты"}

html:lang(ru) .card-contacts-time::after    {content: "доступен 9:00-17:00 (UTC+3)";} 

html:lang(ru) .cover-letter > h2::after     {content: "Вступительное слово";}
html:lang(ru) .personal > h2::after         {content: "Личные качества";}
html:lang(ru) .professional > h2::after     {content: "Профессиональные навыки";}

html:lang(ru) #skill-identity-0 span::after {content: "Аналитический ум";}
html:lang(ru) #skill-identity-1 span::after {content: "Быстро учусь";}
html:lang(ru) #skill-identity-2 span::after {content: "Внимателен";}
html:lang(ru) #skill-identity-3 span::after {content: "Исполнителен";}
html:lang(ru) #skill-identity-4 span::after {content: "Проактивен";}
html:lang(ru) #skill-identity-5 span::after {content: "Самостоятелен";}
html:lang(ru) #skill-identity-6 span::after {content: "Стремление к развитию";}
/* ====================== */